<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_JolTudomEWS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52323/WSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_JolTudomEWS" contract="JolTudomEWSService.JolTudomEWS"
                name="BasicHttpBinding_JolTudomEWS" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>