<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_JolTudomEWS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52323/WSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_JolTudomEWS" contract="ServiceReference1.JolTudomEWS"
                name="BasicHttpBinding_JolTudomEWS" />
        </client>
    </system.serviceModel>
</configuration>